* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 10px;
}


.fila::after {
    content: "";
    clear: both;
    display: block;
}


.fila  {
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

nav {
    background-color: yellow;
}

main {
     background-color: cyan;
}

header {
       background-color: silver;
}

footer {
       background-color: green;
       text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    max-width: 100%;
    width: 90%;
}

h1 {
    color: black;
}

@media only screen and (max-width: 850px) {
    [class*="col-"] {
        width: 100%;
    }
}


body{
color: #99bbff;

}

label{

    color: black;
    border-radius: 10px;
    margin: auto;
}

input{
    padding: 10px;
     border-radius: 10px;
    margin: auto;



}

p{
    color: black;
}


 select , textarea{
    padding: 10px;
     border-radius: 10px;
    margin: auto;



}

p{
    text-align: center;
}

h1{
    text-align: center;
}